// Demo classes
.example-card {
  max-width: 600px;
  padding: 20px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.content {
  background-color: white;
  padding: 20px
}

.padding-y-spacer {
  padding-top: 20px;
  padding-bottom: 20px;
}
