@use '@angular/material' as mat; // var declaration
@use 'sass:map';

@include mat.core();  // NOTE: do not duplicate this string mixin, will affect bundle size

$brand-theme: mat.define-light-theme(( // creates scss map
  color: (primary: mat.define-palette(mat.$teal-palette,700),
  accent: mat.define-palette(mat.$orange-palette),
  warn: mat.define-palette(mat.$pink-palette))
));

// Override for the angular material default app background color (see index.html)
$merged-brand-theme: map.deep-merge($brand-theme, (
  color: (
    background: (
      background: mat.get-color-from-palette(mat.$blue-gray-palette, 100, 0.5)
    ),
    foreground: (
    text: blue
    )
  )
));

@include mat.all-component-themes($merged-brand-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
